body {
	background-color:#e0e0e0;
}

.speed2 {
	font-size: 19em;
}

.gforce2 {
	font-size:8em;
}

.gas_gauge2 {
	font-size: 8em;
}

.upper_left2{
	font-size: 2em;
	color: #FF0700;
}

.upper_right2{
	font-size: 2em;
	color: #FF0700;
}

.lower_left2{
	font-size: 2em;
	color: #FF0700;
}

.lower_right2{
	font-size: 2em;
	color: #FF0700;
}

h1 {
	color:#181818;
}

.mph{
	font-size: 2em;
}

.speed_display {
	font-family:Arial;
	position:fixed;
	right:650px;
	top:50px;
}

.gforce {
	font-family:Arial;
	position:fixed;
	right:250px;
	bottom:50px;
}

.gas_gauge {
	font-family:Arial;
	position:fixed;
	right:250px;
	top:50px;
}

.upper_left {
	font-family:Arial;
	position: absolute;
	top: 0;
	left: 0;
}

.upper_right {
	font-family:Arial;
	position: absolute;
	top: 0;
	right: 0%;
}

.lower_left {
	font-family:Arial;
	position: absolute;
	bottom: 0%;
	left: 0;
}

.lower_right {
	font-family:Arial;
	bottom: 0%;
	right: 0%;
	position: absolute;
}