body {
	background-color:#e0e0e0;
}

.speed2 {
	font-size: 500px;

}

.upper_left2{
	font-size: 2em;
	color: #FF0700;
}

.upper_right2{
	font-size: 2em;
	color: #FF0700;
}

h1 {
	color:#181818;
}

.mph{
	font-size: 2em;
}

.speed_display {
	font-family:Arial;
	position:fixed;
	width:100%;
	text-align: center;
	top:100px;
}


.upper_left {
	font-family:Arial;
	position: absolute;
	top: 0px;
	left: 30px;
}

.upper_right {
	font-family:Arial;
	position: absolute;
	top: 0px;
	right: 30px;
}

.brake_bar {
	border-style: solid;
	position:fixed;
	left:250px;
	top:200px;
	width:60px;
	height:400px;
	background-color: #181818;
}

.brake_bar_fill {
	background-color: #e0e0e0;
	height:40%;
	width:100%;
}