<!DOCTYPE HTML>
<html>
<head>
	<title>Competition Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet_comp.css') }}">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dash.js') }}"></script>

</head>

<body>
	<div>
	<div class = "speed_display"><div id = "speed_list"></div></div>

	<div class = "mph">
		<h1>mph</h1>
	</div>

	<div class = "previous">
		<h1>Previous</h1>
	</div>

	<div class = "prev_time">
		<h1><div id="prev_time"></div></h1>
	</div>

	<div class = "current">
		<h1>Current</h1>
	</div>

	<div class = "curr_time">
		<h1><div id="curr_time"></div></h1>
	</div>
</div>

</body>
</html>