<!DOCTYPE HTML>
<html>
    <head>
        <title>Flask-SocketIO Test</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='dash.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dash.css') }}">
    </head>
    <body>
        <div id="speedList"></div>
    </body>
</html>
